.d-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 14px;
  color: #fff;
  background-color: #339af0;
  border: 1px solid #339af0;
  border-radius: 4px;
  outline: 0;
}